<%= form_for(@new_answer, :url => {:action => :post_answer}, :multipart => true) do |form| %>
  <% if signed_in?%> 
	<%= form.hidden_field(:user_id, :value => current_user.id) %>
  <% end %>
  <%= form.hidden_field(:question_id, :value => params[:id]) %>
  <%= form.text_field :title, :class => "ideaentertitle", :onfocus => "if(this.value == 'Enter idea title...') { this.value = '';  }", :value=>'Enter idea title...',:onblur => "if(this.value == '') { this.value = 'Enter idea title...';  }"  %>
  <%= form.text_area :description, :class => "ideaenterarea", :onfocus => "if(this.value == 'Enter idea description...') { this.value = '';  }", :value=>'Enter idea description...',:onblur => "if(this.value == '') { this.value = 'Enter idea description...';  }"  %>

<p class = "middle"><%= form.submit "Answer", :class => "ideabutton" %></p>
<% end %>
