<% @new_answer.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>

<%= form_for(:new_answer, :url => {:action => :submitA, :id => params[:id]}, :multipart => true) do |form| %>
	  <%= form.hidden_field(:user_id, :value => current_user.id) %>
	  <%= form.hidden_field(:question_id, :value => params[:id]) %>
      <%= form.text_area(:description, :value => "Do you have an answer to this question?", :onfocus => "if(this.value == 'Do you have an answer to this question?') { this.value = '' }", :onblur => "if(this.value == ''){this.value = 'Do you have an answer to this question?'}", :id => "dynamicinput") %>
 
	  <%= form.hidden_field(:tags, :id => "tag_names", :value =>"") %>
	  <%= render :partial =>"tag"%>



      <%= form.submit "+ add your answer", :id => "question_submit"%>

<% end %>

