<div class = "ideas">
<table cellspacing = "0" class = "fullwidth ideas">
<tr>
<td>

<a id="prevslider" href=""></a>

</td>
<td>
<div id="slider1" class = "panel">
  <% @answers.each do |a|%>
  <div class = "answer-question-block">
	<span class = "answer">
		<div class = "title"><%= a.title %></div>
		<div class = "content"><%= a.description %></div>
		<div class = "user"><%= a.user.first_name + " " + a.user.last_name +  "," + a.user.school_name %></div>
		<div class = "created_at"><%= a.user.created_at.localtime %></div>
	</span>
	<span class = "question">
		<p class="question">answered question: </p>
		<div class = "title"><%= a.question.title %></div>
	</span>
  </div>
  <% end %>
</div>
</td>
<td>

<a id="nextslider" href=""></a>

</td>
</tr>
</table>
<p class = "right" id = "auto-controls"></p>
</div>
