<%= stylesheet_link_tag 'progress', :media => 'screen' %>
<!--<table id = "buttontable" cellspacing = "0">
<tr>
<td id = <%= "'pushes_#{item.class.name}_#{item.id}'".html_safe%><p class = "push detail"><%= pluralize(item.pushes_for, "total push") %></p></td> 
</tr>
</table>-->
<% if @progress >= 100 %>
	<div class="prog progress progress-success">
<% else %>		
	<div class="prog progress progress-success progress-striped">
<% end %>
  	<div class="bar"
       style=<%= "'width: #{@progress}%;'" %>>
	<% if @progress >= 100 %>
  		<div class = "prog-done" style = "display:block;">Pushed!</div>
	<% else %>	
  		<div class = "prog-done">Pushed!</div>
	<% end %>  

	</div>
</div>
<div class = "btn detail"><%= link_to "push", {:action => :post_push, :id => item.id, :type => item.class.name, :remote => true },  :class => "vote" %>
		<% if (current_user.pushed_for?(item)) %>
				<div class="push-msg">You pushed!</div>
		<% end %>
</div>

