 	<div class="container" id="container">
			<!-- if questions selected-->
		<% @questions.each do |i| %>	
		<div class="item block">
			<% type ="Question" %>
			<h2 class=<%= "'title "+ type.downcase+"'" %> ><%= type %></h2>
			<p class="subline"><%= i.category.name %></p>
			<div class="intro">
				<div class = "content"><%= i.description %></div>
				<div class = "user"><%= i.user.first_name + " " + i.user.last_name +  "," + i.user.school_name %></div>
				<br/>
			 	<%= link_to "More Info", :action => :details, :id => i.id %>
			</div>
		</div>
		<% end %>	
		
	</div>
	