 	<div class = "questiondiv">
			<!-- if questions selected-->
		<% @questions.each do |i| %>
		<% if !i.answers().empty? 
			pic = "../images/ideas.png"
		   else
		   	pic = "../images/noideas.png"
		   end %>	
		<div class = "well">
			<% type ="Question" %>
			<div class="page-header questiontitle"><div><%=image_tag(pic)%><span class="label label-inverse ideacounter"><%=i.answers().length%> ideas</span></div><h3><%= i.title.capitalize %><small>&nbsp&nbsp<%= i.category.name.downcase %></small></h3></div>
			<div class = "asker"><%= i.user.first_name + " " + i.user.last_name +  " "%> asked, </div>
			<div class="questiondescription">
				<p class = "descripttext">
				<% if i.description.length > 350
					text = i.description[0..345].split[0...-1].map{|s| "#{s}"}.join(' ') + "..."
				   else text = i.description; 
				   end
				 %><%=text%></p>
				<br/>
				<div class = "upvotebox"><%= render :partial => "voting_item", :locals => {:item => i} %></div>
				<div class = "moreinfo"><%= link_to "details", :action => :details, :id => i.id %></div>
 				
			</div>
		</div>
		<% end %>	
		
	</div>
	