<div class = "whitebox_rounded questiondiv">
    <div id = "all_tags"><%= link_to "All Tags", { :action => :show }, class: "btn-small btn-primary bluebutton" %></div> 	
			<!-- if questions selected-->
		<% @questions.each do |i| %>
		<div class = "one_question">
		<% if !i.answers().empty? 
			pic = "../images/ideas.png"
		   else
		   	pic = "../images/noideas.png"
		   end %>	
		<div class = "question">
			<% type ="Question" %>
			<div class="one_question_topbar">
				<div class = "display_tags">
					<%i.tags.each do |tag|%>
						<span class = "inline tag"><%=tag.name%></span>
					<%end%>
				</div>
				<div class = "question_information">
					<% if current_user.id == i.user().id then%>
						<%=link_to "edit", {:controller => :submission, :action => :editQ, :id => i.id}, 
						:class => "edit"%>
					<%end%>
					<span class="label label-inverse ideacounter">
						<%= link_to pluralize(i.answers.size, "answer"), {:action => :details, :id => i.id}, 
						:class => "idealink"%>
					</span>
					<%= link_to image_tag(pic), {:action => :details, :id => i.id}, :class => "ideapic"%>
				</div>
			</div>
			<!-- <div class = "upvotebox"><%= render :partial => "voting_item", :locals => {:item => i} %></div> -->
			<!-- i.impressionist_count(:filter=>:session_hash) -->
			<div class="questiondescription">
				<% if i.description.length > 275
					text = i.description[0..267].split[0...-1].map{|s| "#{s}"}.join(' ') + "..."
				   else text = i.description 
				   end
				 %> 
				<%= link_to text , :action => :details, :id => i.id %>			
			</div>
			<div class = "asker">
				asked by <%= i.user.first_name + " " + i.user.last_name %> 
				<!-- &nbsp<span class = "inline klout_score">55 </span> -->
			</div>
		</div>
		</div>
		<% end %>	

	<div class="pagination"><%= will_paginate @questions %></div>
</div>
	