<% @title = "Solution Space" %> 
<p class = "pagetitle2 middle"><%= @question.title %></p>


<table id = "questiontable" cellspacing = "0">
  <tr>
  <td class = "quotetop"><%= image_tag "../images/openquote.png"%></td>
  <td class = "questionblock"><p class = "questiontext"><%= @question.description %></p></td>
  <td class = "quotebottom"><%= image_tag "../images/closequote.png"%></td>
  </tr>
</table>

<table id = "infotable" cellspacing = "0">
  <tr>
  <td class = "fullblock"><p class = "infotext">submitted by: <%= @user.first_name + " " + @user.last_name %> | category: <%= @category.name %></p></td>
  </tr>
</table>


