<% @title = "Solution Space" %> 
<div class = "bar"><p class = "pagetitle2 middle vertcenter">current question</p></div>


<div class = "white">
<table id = "questiontable" cellspacing = "0">
  <tr>
  <td class = "quotetop"><%= image_tag "../images/openquote.png"%></td>
  <td class = "questionblock"><p class = "questiontext"><%= @question.description %></p></td>
  <td class = "quotebottom"><%= image_tag "../images/closequote.png"%></td>
  </tr>

  <tr>
  <td class = "quotetop"><div></div></td>
  <td class = "questionblock"><p class = "infotext">submitted by: <%= @question.user.first_name + " " +  @question.user.last_name %> | <%= @question.created_at %></p></td>
  <td class = "quotetop"><div></div></td>
  </tr>

  <tr>
  <td class = "quotetop"><div></div></td>
  <td class = "questionblock"><p class = "infotext">category: <%= @question.category.name %></p></td>
  <td class = "quotetop"><div></div></td>
  </tr>
</table>
<div id = "voting"><%= render :partial => "voting_item", :locals => {:item => @question} %></div>
<%= render :partial => "pushing" %>
</div>

<div class = "divide"></div>
<p class = "pagetitle middle">current ideas</p>

<%= render :partial => "details_answers"%>

<div class = "divide2"></div>

<%= render :partial => "answer_submission"%>



