<div class = "page">
	<div class = "sixty">
		<%= render :partial => "dynamicinput_question"%>
  			
			<!-- <div class="btn-group">
			  						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">submit<span class="caret"></span></a>
			  							<ul class="dropdown-menu pull-right">
			    							<%= link_to "Question", :controller => :submission, :action => :QS %>
			    							<%= link_to "Answer", :controller => :submission, :action => :AS %>
			  							</ul>
						</div> -->
			<%= render :partial => "questions"%>
	</div>
	<div class = "thirty border_left">
		<%= render :partial => "trending_topics"%>
	</div>
</div>

