<%= stylesheet_link_tag 'board', :media => 'screen' %>
<% provide(:title, "Message Board") %>
<!--<ul id="idea-slider">
	<% @questions.each do |q| %>
		<li><div class = "answer-block"><img src="http://placekitten.com/300/200" alt="place holder" style = "float:left; margine 0 0 2px 10px;" /><%= q.description %></div></li>
	<% end %>
</ul> -->

<div class="page-header title">
  <h1>chalkboard<small> a space for all current questions</small><small class = "linkright"><div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    submit
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu pull-right">
    <%= link_to "Question", :controller => :submission, :action => :QS %>
    <%= link_to "Answer", :controller => :submission, :action => :AS %>
  </ul>
</div></small></h1>  
</div>
<div class="page-header schoolname"><h1><%=current_user.school_name%></h1></div>
<!--<%= render :partial => "ideas" %>-->

<%= render :partial => "questions" %>

