<div class = "page">
	<div class = "sixty">
		<%= render :partial => "dynamicinput"%>
  			
			<!-- <div class="btn-group">
			  						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">submit<span class="caret"></span></a>
			  							<ul class="dropdown-menu pull-right">
			    							<%= link_to "Question", :controller => :submission, :action => :QS %>
			    							<%= link_to "Answer", :controller => :submission, :action => :AS %>
			  							</ul>
						</div> -->
			<%= render :partial => "questions"%>
	</div>
	<div class = "thirty border_left">
			<div class = "sidebar">
			<span class = "section_header">Trending topics</span>
			<div class = "top_tags">
			<%@top_tags.each do |tag|%>
				<span class = "tag"><%=tag.name%></span>
			<%end%>
			</div>
			</div>
	</div> 
	</div>
</div>




