<% provide(:title, "Sign in") %>
<div>
<p class = "middle pagetitle">sign in</p>
</div>

<div class="row">
  <div class="span7 offset4">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email%>
      <%= f.text_field :email, class: "signinbox" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "signinbox" %>

      <%= f.submit "Sign in", class: "btn btn-medium btn-primary bluebutton" %>
    <% end %>
  </div>
   <p class = "middle">New user? <%= link_to "Sign up now!", signup_path %></p>
</div>