<% @title = "Edit Question" %> 
<div>
<p  class = "submittitle">edit your question.</p>
</div>
<div class = "middle">
<% @answer.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>

<table cellspacing = 0 class = "subtable">

<%= form_for(:question, :url => {:action => :updateQDetail, :id => current_user.id}) do |form| %>
  <%= form.hidden_field(:user_id, :value => current_user.id) %>  
  <tr class = "subrow">
  <td><%= form.label(:title, "Name your question:", :class => "descript") %></td>
  <td><%= form.text_field(:title, :class => "textfield") %></td>
  </tr>
  <tr class = "subrow">
  <td><%= form.label(:description, "Write our your question:", :class =>"descript")%></td>
  <td><%= form.text_area(:description, :class => "textarea") %></td>
  </tr>
  <tr class = "subrow">
  <td><%= form.label(:category_id, "Categorize your question:", :class => "descript") %></td>
  <td><%= form.collection_select(:category_id, Category.all, :id, :name) %></td>
  <td><p class = "submitbutton"><%= form.submit "Submit Question", class: "btn-small btn-primary bluebutton" %></p></td>
  </tr> 
</table>


<% end %> 

</div>