<% @title = "Edit Answer" %> 
<div>
<p  class = "submittitle">edit your answer.</p>
</div>
<div class = "middle">
<% @answer.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>

<table cellspacing = 0 class = "subtable">


<%= form_for(:answer,:url => {:action => :updateA, :id => @answer.id}) do |form| %>
  <tr class = "subrow">
  <td><%= form.label(:title, "Name your answer:", :class => "descriptans") %></td>
  <td><%= form.text_field(:title, :class => "textfield") %></td>
  </tr>
  <tr class = "subrow">
  <td><%= form.label(:description, "Write out your answer:", :class =>"descriptans")%></td>
  <td><%= form.text_area(:description, :class => "textarea") %></td>
  </tr>
  <tr class = "subrow">
  <td><%= form.label(:category_id, "Categorize your answer:", :class => "descriptans") %></td>
  <td><%= form.collection_select(:category_id, Category.all, :id, :name) %></td>
  <td>
  </tr> 
</table>
<p class = "submitbuttonans"><%= form.submit "Make Changes", class: "btn-small btn-primary bluebutton" %></p>
<% end %> 

</div>