<% @title = "Edit Question" %> 
<div class = "hundred center edit_title">
	edit your question
</div>
<% @question.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>
<div class = "twenty"></div>
<div class = "sixty">
<%= form_for(:question, :url => {:action => :updateQ, :id => @question.id}) do |form| %>
  <%= form.text_area(:description, :id => "dynamicinput", :max_length=>140) %>
  <%= form.hidden_field(:tags, :id => "tag_names", :value =>params[:tags]) %>
  <div class = "char_count"><span id="char-count">140</span></div>  
  <%= render :partial =>"tag"%>
	
  <%= form.submit "update question", :id => "question_submit"%>
<% end %> 
</div>
<div class = "twenty"></div>

