<% @title = "Edit Answer" %> 
<div class = "hundred center edit_title">
	edit your answer for <br />
	<span class = "edit_question">"<%= @answer.question.description%>"</span>
</div>
<% @answer.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>

<div class = "twenty"></div>
<div class = "sixty">
<%= form_for(:answer, :url => {:action => :updateA, :id => @answer.id}) do |form| %>
	  <%= form.text_area(:description, :id => "dynamicinput") %>
	  <%= form.hidden_field(:tags, :id => "tag_names", :value =>params[:tags]) %>
	  <%= render :partial =>"tag"%>
	  <%= form.submit "update answer", :id => "question_submit"%>
<% end %> 
</div>
<div class = "twenty"></div>




