<% @title = "Question Submission" %> 
<div class = "middle">
<table cellspacing = 0 class = "subtable">

<%= form_for(@question) do |form| %>
  <tr class = "subrow">
  <td><%= form.label(:title, "Name your question:") %></td>
  <td><%= form.text_field(:title, :class => "textfield") %></td>
  </tr>
  <tr class = "subrow">
  <td><%= form.label(:description, "Write our your question:") %></td>
  <td><%= form.text_area(:description, :size => "50x6") %></td>
  </tr>
  <tr class = "subrow">
  <td><%= form.label(:category, "Categorize your question:") %></td>
  <td><%= form.collection_select(:category, Category.all, :id, :name) %></td>
  </tr>
  <tr class = "sub"><td><%= form.submit "Submit Question", :class => "button"%></td></tr>
<% end %> 
 
  
</table>


</div>