<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= @title %></title>
<<<<<<< HEAD

 <%= stylesheet_link_tag '../stylesheets/header', :media => 'screen' %>
 <%= stylesheet_link_tag '../stylesheets/submission', :media => 'screen' %>
 <%= javascript_include_tag "application" %>
 <%= stylesheet_link_tag 'application', :media => 'screen' %>
 <%= stylesheet_link_tag 'custom', :media => 'screen' %>
=======
  
 <%= stylesheet_link_tag '../stylesheets/header', :media => 'screen' %>
 <%= stylesheet_link_tag '../stylesheets/submission', :media => 'screen' %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag '../stylesheets/header', :media => 'screen' %>
  <%= stylesheet_link_tag 'application', :media => 'screen' %>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
>>>>>>> 74c0f21a132150b2ab31efc66c2a8a94c96c38fe

</head>
<body>
	<div class = "background">
		<h1 class = "title">Chalk</h1>
	</div>
	<%= render 'layouts/header' %>
    <div class="container">
	  <% flash.each do |key, value| %>
	  <div class="alert alert-<%= key %>"><%= value %></div>
	  <% end %>
      <%= yield %>
	</div>

</body>
</html>
